@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caveat', cursive;
}

body{
    background-image: url('/static/image/back.gif');
    background-position: -120px 256px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    color: #5e7bd7;
}
.container {
    display: flex;
    flex-direction: column; /* Расположение элементов в колонку */
}

.app{
    background-color: #e1f3ff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    flex-direction: column;

}

.app h1{
    text-align: center;
    padding: 0;
    margin: 5px;
    letter-spacing: 5px;
    font-size: 30px;
}



.app h2 {
    font-size: 35px;
    color: #5e7bd7;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    background-color: #e1f3ff;
    border-radius: 10px;
}



.btn{
    background: #5e7bd7;
    color: #e1f3ff;
    font-weight: 500;
    width: 200px; /* Увеличиваем ширину кнопки */
    height: 50px; /* Увеличиваем высоту кнопки */
    border: 0;
    padding: 10px;
    margin: 75px auto 50px;
    border-radius: 4px;
    cursor: pointer;
    display: block; /* Меняем на блочный элемент, чтобы можно было задать ширину и центрировать */
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    line-height: 30px;


}


a {
    text-decoration: none;
}

form {
    text-align: center;
}

.help-icon {
   position: absolute;
   top: 20px;
   left: 20px;
   z-index: 99999;
 }

 #help-button {
   font-size: 3em;
   border: none;
   background-color: transparent;
   color: #5e7bd7;
   cursor: pointer;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   text-align: center;
   line-height: 40px;
 }

 .help-popup {
   display: none;
   position: absolute;
   z-index: 1;
   width: 200px;
   padding: 10px;
   background-color: white;
   border: 1px solid #ccc;
   border-radius: 5px;
   font-size: 14px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
 }

 .help-popup h3 {
   margin-top: 0;
 }

 .help-popup p {
   margin-bottom: 10px;
 }

 #close-button {
   border: none;
   border-radius: 3px;
   background-color: #e1f3ff;
   padding: 5px 10px;
   cursor: pointer;
   color: #5e7bd7;
 }