<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='game1_level1.css') }}">
    <title>Игра: Подсчитай предметы</title>
</head>
  <body>
    <div class="container">
        <div class="help-icon">
            <button id="help-button">?</button>
            <div class="help-popup">
                <h3>Правила игры:</h3>
                <p>Игра "Подсчитай предметы" представляет собой задачу подсчета количества яблок на картинке. Игроку предлагается выбрать один из трех предложенных ответов, указывающих на разное количество яблок. Цель игры - выбрать правильный ответ и набрать максимальное количество очков.</p>
                <button id="close-button">Закрыть</button>
            </div>
        </div>
        <div class="app">
            <h1>Подсчитай колличество предметов на картинке</h1>
            <div class="quiz">
                <h2 id="question"> </h2>
                <div id="answer-buttons">
                    <button class="btn">Answer 1</button>
                    <button class="btn">Answer 2</button>
                    <button class="btn">Answer 3</button>
                </div>
                <button id="next-btn">Дальше</button>
                <form action="/base_page">
                    <a href="{{url_for('profile')}}">
                        <button id="exit">Выйти из игры</button>
                    </a>
                </form>
            </div>
        </div>

    </div>
    <script src="{{ url_for('static', filename='game1_level1.js') }}"></script>
  </body>
</html>